/* SignupForPatient.css */
.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f3f4f6;
}

.signup-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-image img {
    max-width: 80%;
    height: auto;
}

.signup-form {
    flex: 1;
    padding: 2rem;
    background-color: white;
    border-radius: 15px; /* Rounded edges */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.signup-form h2 {
    margin-bottom: 1.5rem;
    color: #333;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group textarea {
    height: 80px; /* Smaller height for textarea */
}

.signup-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #0056b3;
}

.formreduce textarea{ 
   height: 10px;
}